extends layout

block bottomScripts

  if jsCompiled
    script(src = jsCompiled)
  else
    script(src = '/js/google-closure-library/closure/goog/base.js')
    script(src = '/js/deps.js')
    script.
      goog.require('entry')

  script(src = '/js/launch.js')
  script.
      launch.setDefaults('#{landing}')
      launch.addApp('site')
