// Basic ELEMENT colours.
a       {  color: @col-TYPE-A;  }
a:hover {  color: @col-TYPE-A-hover;  }

.col-warning    { color: @col-UI-warning }
.col-attention  { color: @col-UI-attention }
.col-action     { color: @col-UI-action }
.col-encourage  { color: @col-UI-encourage }

.bg-warning     { background-color: @col-UI-warning }
.bg-attention   { background-color: @col-UI-attention }
.bgl-action     { background-color: @col-UI-action }
.bg-encourage   { background-color: @col-UI-encourage }

// Underlying panel compartments
#A_root_cmprt {   background-color: @col-ROOT-CMPRT-A;}
#B_root_cmprt {   background-color: @col-ROOT-CMPRT-B;}
#C_root_cmprt {   background-color: @col-ROOT-CMPRT-C;}
